{% for device in device_list %}
############################### Configurazione {{device.name}} #############################
en
configure terminal
hostname {{device.name}}
ip domain-name {{env_data.domain_name}}
snmp-server community {{env_data.snmpv2c_string}}
snmp-server host {{env_data.snmp_srv}} {{env_data.snmpv2c_string}}
enable secret {{env_data.password}}
crypto key generate rsa modulus 1024
username {{env_data.username}} secret {{env_data.password}}
ip ssh version 2
line vty 0 15
transport input ssh
login local
{% if device.lo0 %}
interface loopback 0
ip address {{device.lo0}} 255.255.255.255
{%endif%}
{% if device.ipv4_address %}
{% if device.is_a_router %}
interface GigabitEthernet0/0
{%else%}
interface GigabitEthernet0/1
no switchport
{%endif%}
ip address {{device.ipv4_address}} {{device.ipv4_mask}}
no shutdown
{%endif%}
end
copy running-config startup-config

!
{%endfor%}
